{
	"extends": [ "plugin:@wordpress/eslint-plugin/recommended" ],
	"rules": {
		// React best practices
		"react/jsx-boolean-value": "error",
		"react/jsx-curly-brace-presence": [
			"error",
			{ "props": "never", "children": "never" }
		],

		// WordPress-specific rules, lifted from gutenberg
		"@wordpress/dependency-group": "error",
		"@wordpress/data-no-store-string-literals": "error",
		"@wordpress/wp-global-usage": "error",
		"@wordpress/react-no-unsafe-timeout": "error",
		"@wordpress/i18n-hyphenated-range": "error",
		"@wordpress/i18n-no-flanking-whitespace": "error",
		"@wordpress/i18n-text-domain": [
			"error",
			{
				"allowedTextDomain": "ai"
			}
		],
		"@wordpress/no-unsafe-wp-apis": "off",
		"import/default": "error",
		"import/named": "error"
	},
	"overrides": [
		{
			"files": [ "**/*.ts?(x)" ],
			"rules": {
				"@typescript-eslint/consistent-type-imports": [
					"error",
					{
						"prefer": "type-imports",
						"disallowTypeAnnotations": false
					}
				],
				"@typescript-eslint/no-shadow": "error",
				"no-shadow": "off",
				"jsdoc/require-param": "off",
				"jsdoc/require-param-type": "off",
				"jsdoc/require-returns-type": "off"
			}
		}
	]
}
