# Directories
/.git export-ignore
/.github export-ignore
/.wordpress-org export-ignore
/docs export-ignore
/node_modules export-ignore
/src export-ignore
/tests export-ignore
# /vendor export-ignore # do not ignore.

# Files
/.* export-ignore
/ai.zip export-ignore
/CHANGELOG.md export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/CONTRIBUTING.md export-ignore
/CREDITS.md export-ignore
/LICENSE.md export-ignore
/package-lock.json export-ignore
/package.json export-ignore
/phpcs.xml.dist export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
/README.md export-ignore
/ROADMAP.md export-ignore
/SECURITY.md export-ignore
/webpack.config.js export-ignore
