parameters:
	level: 5
	paths:
		- includes
		- features
	parallel:
		maximumNumberOfProcesses: 1
	scanFiles:
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
	reportUnmatchedIgnoredErrors: false
	phpVersion: 70400
