.ai-title-generation-modal {

	.ai-title-generation-subtitle {
		margin: 0 0 16px;
		color: #757575;
	}

	.components-textarea-control__input {
		resize: none;
	}

	.ai-title-generation-actions {
		margin-top: 24px;
	}
}
